- var pageTitle = 'Home Page'
doctype html
html.sr
  include ./partials/_header.jade
  body
    div#home-page
      .wrapper
        a.wazz-logo(href='#')
          img(src='assets/images/wazz-logo.svg', alt="Wazzvetements")
        a.buy-button(href='#')
          img(src="assets/images/buy-button.svg", alt="Wazzvetements")
        //- .spinning-image
        //-   img(src="assets/images/rotate-image.svg", alt="Wazzvetements")
      .infinite-text

  include ./partials/_footer.jade
