- var pageTitle = 'Coming Fucking Soon'
doctype html
html.sr
  include ./partials/_header.jade
  body
    section#home
      .container
        .d-flex.flex-row.align-items-center.center-container
          .col-md-6.offset-md-3
            a.wazz-logo(href='#')
              img(src='assets/images/wazz-logo.svg')
            div.subscribe-form
              p Find out when we open:
              form
                .form-group
                  input.form-control#email(type='email', aria-decribedby='yourname', placeholder='Email')
                  button.btn.btn-primary Submit
                  //- label(for="email") Email
                  div.label Your email 
      .infinite-text
      video.video-bg(autoplay='', muted='', loop='')
        source(src='assets/images/wazz-video.mp4', type='video/mp4')
  
  include ./partials/_footer.jade
