head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='icon', href='assets/images/favicon.ico')
	script(src='assets/js/scrollreveal.min.js')
	link(rel='stylesheet', href='assets/css/font-awesome.min.css')
	link(rel='stylesheet', href='assets/css/style.css')
	title WAZZ - #{pageTitle}
