/* --------------- Main Style --------------- */

body{
  background:$bg;
  color:$text-main;
  cursor: url(../images/cursor.svg), pointer;
  -webkit-zoom-in-cursor: url(../images/cursor.svg), pointer;
  -webkit-zoom-out-cursor: url(../images/cursor.svg), pointer;
  -webkit-zoom-grab-cursor: url(../images/cursor.svg), pointer;
  -webkit-zoom-grabbing-cursor: url(../images/cursor.svg), pointer;
}

#homepage{
  background:url(../images/bg-image.jpg) no-repeat;
  background-size:cover;
  height:630px;
  @include media-breakpoint-down(md) {
    background-size:100%;
    background-position:10px center;
    height:100%;
  }
  .container{
    height:630px;
    position: relative;
    @include media-breakpoint-down(md) {
      height:100%;
    }
    .wazz-logo{
      margin:0 auto 60px;
      text-align:center;
      display: block;
      z-index:9999;
      &:hover{
        cursor: url(../images/cursor.svg), pointer;
      }
      img{
        width:186px;
        height:158px;
        position:absolute;
        top:60px;
        @include media-breakpoint-down(md) {
          top:40px;
          width:150px;
          position:relative;
        }
      }
    }
    .buy-button{
      position: absolute;
      bottom:0;
      left:159px;
      @include media-breakpoint-down(md) {
        bottom:80px;
        margin:0 auto;
        img{
          width:80%;

        }
      }
    }
    .rotate-image{
      position: absolute;
      bottom:0;
      right:-100px;
      img{
        width:70%;
        animation-name: spinner;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        transform-style: preserve-3d;
      }
      @keyframes spinner {
        from {
          transform: rotateY(0deg);
        }
        to {
          transform: rotateY(-360deg);
        }
      }
    }
  }
  .infinite-text{
    background: url(../images/wazz.png) repeat-x;
    width:100%;
    height:100px;
    position: fixed;
    bottom: 0px;
    left: 0;
    animation: slide 10s linear infinite;
    -webkit-animation: slide 10s linear infinite;
    keyframes slide {
      from { background-position: 0 0; }
      to { background-position: 1062px 0; }
    }
    @-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: 1062px 0; }
    }
  }
}
/*--- HomePage ----*/
#home{
  // background:url(../images/bg-image.jpg) no-repeat;
  background-size:cover;
  height:630px;
  @include media-breakpoint-down(md) {
    background-size:200%;
    background-position:center;
  }
  .test{
    position:relative;
    border:1px solid red;
    height:100vh;
    .col-4{
      border:1px solid red;
    }
    .wazz-logo{
      display:block;
      margin:0 auto 60px;
      text-align:center;
      visibility: hidden;
      position:absolute;
      left:0;
      z-index:999;
      &:hover{
        cursor: url(../images/cursor.svg), pointer;
      }

      img{
        width:186px;
        height:158px;
        position:absolute;
        top:60px;
      }
    }
    .buy-button{
      position: absolute;
      right:0;
      bottom:0;
      display: block;
    }
  }


  .wazz-pattern{
    margin-bottom: 40px;
    display:block;
    img{
      width:100%;
    }
  }
  .social-sharing{
    ul{
      margin:0 auto;
      display:table;
      padding:0;
      li{
        display:inline-block;
        a{
          color:white;
          display:inline-block;
          padding:5px 15px;
        }
      }
    }
  }
  .subscribe-form{
    text-align: center;
    visibility: hidden;
    form{
      .form-group{
        position:relative;
        .form-control{
          border-radius:0;
          border:1px solid white;
          padding: 20px 0px 20px 20px;
          background:transparent;
          color:white;
          position:relative;
          &::placeholder{
            color:$text-second;
          }
        }
        label{
          position:absolute;
          top:10px;
          left:20px;
          opacity:1;
          transform: translateY(0);
          transition:all 0.2s ease-out;
        }

      }
      .label{
        background:#000;
        -webkit-transform: translate(20px, -55px);
        transform: translate(10px, -55px);
        box-sizing: border-box;
        font-size:12px;
        width:80px;
      }
    }
    @include media-breakpoint-down(md) {
      form{
        .form-group{
          .btn-primary{
            margin-top:20px;
            position:relative;
          }
        }
        .label{
          transform: translateY(-113px);
          margin:0 auto;
        }
      }
    }
  }
  .infinite-text{
    background: url(../images/wazz.png) repeat-x;
    width:100%;
    height:100px;
    position: fixed;
    bottom: 0px;
    left: 0;
    animation: slide 10s linear infinite;
    -webkit-animation: slide 10s linear infinite;
    keyframes slide {
      from { background-position: 0 0; }
      to { background-position: 1062px 0; }
    }
    @-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: 1062px 0; }
    }
  }
  .video-bg{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
    opacity:.4;
  }
}
.center-container{
  height:100vh;
  overflow:hidden;
}


/*------ TOP NAV ------*/
.top_nav{
  padding:2rem 0;
}





/*------ NEWEST------*/
#home-page{
  background:url(../images/bg-image.jpg) no-repeat;
  background-size:100%;
  @include media-breakpoint-down(md) {
    background-position:center center;
  }
  .wrapper{
    width:1140px;
    margin:0 auto;
    position: relative;
    height:85vh;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    .wazz-logo{
      position: absolute;
      top:0;
      left:200px;
      img{
        width:186px;
        height:158px;
        position:absolute;
        top:60px;
      }
      @include media-breakpoint-down(md) {
        left:50%;
        margin-left:-65px;
        img{
          width: 130px;
        }
      }
    }
    .buy-button{
      position: absolute;
      bottom:00px;
      left:158px;
      @include media-breakpoint-down(md) {
        left:0;
        bottom:150px;
        width:100%;
        img{
          width:100%;
        }
      }
    }
    .spinning-image{
      position: absolute;
      bottom:40px;
      right:0;
      width:300px;
      position: absolute;
      bottom:0px;
      right:0px;
      img{
        width: 100%;
        animation-name: spinner;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        transform-style: preserve-3d;
        display: block;
        margin-bottom: 10px;
      }
      @keyframes spinner {
        from {
          transform: rotateY(0deg);
        }
        to {
          transform: rotateY(-360deg);
        }
      }
      @include media-breakpoint-down(md) {
        display:none;
      }
    }
  }
  .infinite-text{
    background: url(../images/wazz.png) repeat-x;
    width:100%;
    height:100px;
    position: fixed;
    bottom: 0px;
    left: 0;
    animation: slide 10s linear infinite;
    -webkit-animation: slide 10s linear infinite;
    @keyframes slide {
      from { background-position: 0 0; }
      to { background-position: 1062px 0; }
    }
    @-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: 1062px 0; }
    }
  }
}
